<!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom border-2 border-white">
                <a href="index.html" class="navbar-brand">
                    <h1>iSTUDIO</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <ng-container *ngIf="inicioSession">
                            <a [routerLink]="['/cliente']" class="nav-item nav-link">Cliente</a>
                        
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Administración</a>
                                <div class="dropdown-menu bg-light mt-2">
                                    <a [routerLink]="['/admin/']" class="nav-item nav-link">Usuarios</a>
                                    <a [routerLink]="['/admin/roles']" class="nav-item nav-link">Roles</a>
                                    <a [routerLink]="['/admin/accesos']" class="nav-item nav-link">Accesos</a>
                                </div>
                            </div>
                            <a (click)="logout()" class="nav-item nav-link">Logout</a>

                        </ng-container>
                        <ng-container *ngIf="!inicioSession">
                            <a [routerLink]="['/login']" class="nav-item nav-link">Login</a>
                        </ng-container>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->